@media screen and (max-width: 800px) {
    #flow {margin-left: 3%;}
    #line {display: none;} 
    .main_content {margin-left: 3%; margin-right: 1%;}
    #liveorder  { display: none; }
    #hotitem  { display: none; }
    #promo {margin-bottom: 15%;}
}

#promo {
    width: 95%;
    height: auto;
    padding-bottom: 5%;
}

#watchingnow {
    font-size: small;
    letter-spacing: -2px;
    float: right;
    margin-right: 90px;
    text-align: center;
    width: 110px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 18px;
}

#content {
    width: 69%;
}