@media screen and (max-width: 1200px) { 
    #flow {margin-left: 3%;}
    #line2 {display: none;}
    #deli {display: none;}
    #liveorder  { display: none; }
    #content {width: 94%; margin-left: 3%;}
    #favoriteProduct {width: 94%; margin-left: 3%;}
}

#favoriteProduct {
    padding-top: 90px;
    padding-bottom: 60px;
}

#furniture {
    width: 100%;
    padding-top: 70px;
    padding-bottom: 60px;
}