@media screen and (max-width: 768px) {  /* 모바일 */
    #flow {margin-left: 3%;}
    #deli {display: none;}
    #hotitem  { display: none; }
    #livecontent {width: 90%; margin-left: 3%;}
    #content {margin-left: 3%;}
    .col-md-3 {width:94% ; margin-left: 3%;}
    #callOrder {width: 94%; margin-left: 3%;}
}

@media all and (min-width:768px) and (max-width:1023px) {   /* 테블릿 */
    #flow {margin-left: 5%;}
    #livecontent {margin-left: 5%;}
    #content {margin-left: 5%;}
    .col-md-3 {width:90% ; margin-left: 5%;}
    #callOrder {width: 90%; margin-left: 5%;}
}

a {
    font-size: small;
}

#line2 {
    width: 96%;
    padding-top: 30px;
    padding-bottom: 50px;
}

#content {
    padding-top: 50px;
    padding-left: 20px;
}

#threecontent {
    display: block;
}

h4 {
    font-weight: bold;
}

#btn {
    text-align: center;
    font-size: small;
    padding: 11px 20px 31px 20px;
    margin-top: 20px;
    background-color: black;
    color: white;
    width: fit-content;
    height: 30px;
    border: 2px;
    border-radius: 25px;
    margin-bottom: 100px;
}

/* 이미지 */
#callOrder {
    padding-top: 50px;
    width: 100%;
    height: auto;
    padding-bottom: 80px;
}

#underimg {
    padding-top: 20px;
    width: 100%;
    padding-bottom: 30px;
}
