body {
    letter-spacing :-2px ;
    overflow-y: hidden;
}

@media screen and (max-width: 1300px) { 
    #white_content{position: static; padding-bottom: 100px; padding-right: 10px;}
    #login_footer{display: none;}
    body{overflow-y: scroll;}
}
@media screen and (max-width: 1090px) { 
    #bluecontent {height: 400px;}
}


#logo2 {
    padding-top: 30px;
    padding-left: 50px;
}
#arrow {
    padding-left: 10px;
    padding-top: 30px;
}

h2 {
    color: rgb(255, 225, 73);
    font-weight: bold;
}

#bluecontent {
    color: white;
    background-color: rgb(22, 87, 166);
    padding-bottom: 150px;
    padding-left: 50px;
}

#login_footer {
    font-size: small;
}

#white_content {
    margin-top: 50px;
    padding-left: 90px;
}

#sq_btn {
    height: 40px;
}

#log_btn  {
    border: 2px;
    height: 56px;
    width: 450px;
    border-radius: 40px;
}

.blue_btn {
    background-color: rgb(22, 87, 166);
    color: white;
}

.white_btn {
    background-color: white;
}

#loginstate {   /* 체크박스(로그인 상태) */
    zoom: 2.0;
    vertical-align: middle;
}
