.container-fluid {
    padding: 0%;
}
body {
    letter-spacing :-1px ;
    overflow-x: hidden;
}

@media screen and (max-width: 1300px) { 
    #side_icon { display: none; } 
    #login { display: none; }
    .menu { display: none; }
}
@media screen and (max-width: 1090px) { 
    #liveorder  { display: none; }
    #hotitem  { display: none; }
    #logo {margin-left: 25px;}
    input.keyword {margin-top: 30px;}
    img#searching {padding-top: 80px;}
    img#camera {padding-top: 80px; }
    #store { padding-right: 100px;}
}

#logo{
    float: left;
    width: 85px;
    height: 35px;
}

a {
    text-decoration-line: none;
}

a:visited {
    color: white;
}

a:hover {
    text-decoration: underline;
    color: rgb(171, 168, 168);
}

div.menu_bar {
    background-color: black;
    color: white;
}

div.side_bar {
    float: left;
    margin-left: 40%;
    padding-top: 2%;
}

div.menu {
    padding-top: 1%;
    width: 300px;
    float: left;
    clear: both;
    font-weight: bold;
}

ul {
    width: 100%;
    text-align: center;
    list-style:none;
    margin:0;
    padding:0;
}
li{
    display: inline-block;
    font-size: small;
    margin: 0;
    padding: 0;
    padding-right: 3%;
    border : 0;
}

#store {
    float: right;
    padding-right:60px;
    padding-top: 10px;
    width: 160px;
    height: 35px;
}

#line {
    width: 96%;
}

#member {
    letter-spacing:-1;
    width: 360px;
    float: right;
    font-weight: bold;
    padding-top: 15px;
    padding-right: 60px;
}

#right_icon {
    width: 26px;
    height: 30px;
}

.keyword {
    position: relative;
    width: 83%;
    float: left;
    height: 50px;
    padding-left: 4%;   /*돋보기 아이콘 뒤 검색 입력 창 시작 위치*/
    margin-left: 35px;
    border : 2px solid rgb(245, 245, 245);
    background-color: rgb(245, 245, 245);
    border-radius: 40px;
}

input {
    width: 100%;
    float: left;
    font-size: 14px;
}

#searching {    /*돋보기 아이콘*/
    position: absolute;
    float: left;
    padding-top: 12px;
    padding-left: 50px;
    margin: 0%;
    z-index: 10;
}

#camera {   /*카메라 아이콘*/
    width: 40px;
    position: absolute;
    padding-top: 5px;
    z-index: 10;
    right: 30%;
}

#flow {
    font-size: 13px;
}
