body {
    letter-spacing :-1px ;
    margin: 0%;
}

#logo{
    float: left;
    padding-top: 30px;
    padding-left: 3%;
    width: 87px;
    height: 36px;
}

div.menu_bar {
    background-color: black;
    color: white;
    margin-right: 2px;
}

div.side_bar {
    float: left;
    padding-left: 3%;
    padding-top: 2%;
}

div.menu {
    padding-top: 1%;
    padding-left: 7%;
    width: 300px;
    float: left;
    clear: both;
    font-weight: bold;
}

ul {
    width: 100%;
    text-align: center;
    list-style:none;
    margin:0;
    padding:0;
}
li{
    display: inline-block;
    font-size: small;
    margin: 0;
    padding: 0;
    padding-right: 3%;
    border : 0;
}

#store {
    float: right;
    padding-top: 10px;
    padding-right: 70px;
    width: 100px;
    height: 27px;
}

#line {
    padding-left: 7.5%;
    width: 89%;
}

#member {
    letter-spacing: normal;
    width: 400px;
    float: right;
    padding-top: 35px;
    font-weight: bold;
}

#right_icon {
    width: 26px;
    height: 30px;
}

.keyword {
    position: relative;
    width: 53%;
    float: left;
    height: 48px;
    padding-left: 3%;   /*돋보기 아이콘 뒤 검색 입력 창 시작 위치*/
    padding-right: 30px;
    margin-top: 20px;
    margin-left: 35px;
    border : 2px solid rgb(245, 245, 245);
    background-color: rgb(245, 245, 245);
    border-radius: 40px;
}

input {
    width: 100%;
    float: left;
    font-size: 14px;
}

#searching {    /*돋보기 아이콘*/
    position: absolute;
    float: left;
    padding-top: 35px;
    padding-left: 50px;
    margin: 0%;
    z-index: 10;
}

#camera {   /*카메라 아이콘*/
    width: 40px;
    position: absolute;
    padding-top: 28px;
    z-index: 10;
    right: 27%;
}
