@media screen and (max-width: 768px) { 
    #flow {margin-left: 5%;}
    #line {display: none;}
    #line2 {display: none;}
    #liveorder  { display: none; }
    #hotitem  { display: none; }
    .col-md-5 {width: 92%; margin-left: 5%;}
    #content {width: 92%; margin-left: 5%;}
    #rightimg {margin-bottom: 20%;}
}

body {
    font-size: small;
}

#youtube {
    width: 100%; 
    height:auto; 
    padding-top: 20px; 
    padding-bottom: 50px
}

#content {
    padding-top: 50px;
    width: 90%;
    display: block;
}
#pickup1 {
    width: 100%;
    height: 45%;
    padding-bottom: 30px;
}
#pickup2 {
    width: 100%;
    height: 100%;
}
a {
    font-size: small;
}
.under {
    text-decoration: underline;
    color: black;
}
#leftcontent {
    display: block;
}

#rightimg {
    float: right;
    width: 100%;
    height: auto;
}

#line2 {
    width: 96%;
    padding-top: 30px;
    padding-bottom: 50px;
}

footer {
    margin-top: 5%;
}