@media screen and (max-width: 1200px) { 
    #liveorder  { display: none; }
    #hotitem  { display: none; }
}

body {
    font-size: small;
}

#content {
    padding-top: 50px;
    width: 710px;
}
#pickup1 {
    width: 94%;
    height: 45%;
    padding-bottom: 30px;
}
#pickup2 {
    width: 95%;
    height: 95%;
    padding-bottom: 30px;
}
a {
    font-size: small;
}
.under {
    text-decoration: underline;
    color: black;
}
#leftcontent {
    padding-top: 60px;
}

#rightimg {
    float: right;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-right: 10%;
    width: 100%;
    height: 100%;
}

#line2 {
    width: 96%;
    padding-top: 30px;
    padding-bottom: 50px;
}